In [1]:
print("Hello World")

Hello World

In [2]:
# Komentar di Python

In [13]:
sapa = "Selamat pagi"
sapa1 = "Selamat pagi"
sapa_dua = "selamat siang"

print(sapa, sapa1, sapa_dua, sep = ", ")

Selamat pagi, Selamat pagi, selamat siang

In [15]:
# Penulisan variabel tidak bisa diawali dengan angka dan simbol

In [16]:
var_string = "Ayuk belajar AI"
print(var_string)
print(type(var_string))

Ayuk belajar AI
<class 'str'>

In [18]:
var_integer = 20
print(var_integer)
print(type(var_integer))

20
<class 'int'>

In [19]:
var_float = 99.1
print(var_float)
print(type(var_float))

99.1
<class 'float'>

In [22]:
print(var_string, var_integer, var_float, sep=", ")

Ayuk belajar AI, 20, 99.1

In [24]:
var_boolean = True
if var_boolean:
    print("Nilainya True")
print(type(var_boolean))

Nilainya True
<class 'bool'>

In [25]:
# Math Operation
tambah = 1 + 2
print(tambah)

3

In [28]:
var1 = "Hai"
var2 = "Saya"
#var3 = var1 + var2
print(var1 + " " + var2)

Hai Saya

In [29]:
kurang1 = 99
kurang2 = 50
kurang3 = kurang1 - kurang2
print(kurang3)

49

In [30]:
kali1 = 5
kali2 = 6
kali3 = kali1 * kali2
print(kali3)

30

In [33]:
bagi1 = 30
bagi2 = 5
bagi3 = bagi1 / bagi2
print(int(bagi3))

6

In [35]:
modul1 = 10
modul2 = 3
modul3 = modul1 % modul2
print(modul3)

1

In [36]:
if (modul1 %2 == 0):
    print("Benar")

Benar

In [37]:
expo1 = 67
expo2 = 66
expo3 = expo1 ** expo2
print(expo3)

3318462988691948907650286963263936624986304603548631220018837549610370323146990243798546901044939902470099862517164959369

In [40]:
int_div = 53 // 3
print(int_div)

17

In [41]:
#operator penugasan
satu = "halo"
angka = 3
angka += 3
print(angka)

6

In [42]:
angka = 4
angka = 5
angka = 7
print(angka)

7

In [50]:
comp = 1+3j
print(comp)
print(type(comp))

(1+3j)
<class 'complex'>

In [49]:
local = "Machine Learning"
def Scope():
    global local
    local = "Learning Machine"
    print(local)
Scope()
print(local)

for i in range(1,20):
    print(i)

Learning Machine
Learning Machine
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [45]:
local = "Machine Learning"
def Scope():
    global local
    print(local)
Scope()

Machine Learning

In [51]:
fal_se = 0
if fal_se:
    print("Nilainya True")
else:
    print("Nilainya False")

Nilainya False

In [53]:
# Operator Perbandingan
if 5 < 6:
    print("5 lebih kecil dari 6")

5 lebih kecil dari 6

In [54]:
num = 5
num2 = 7
if num == num2:
    print("Sama")
else:
    print("Beda")

Beda

In [ ]:
if 7 != 8:
    print("Tidak Sama")

In [ ]:
# Operasi String

In [57]:
greeting = " Hallo "
print(greeting.strip())
greeting1 = "HAI"
print(greeting1.lower())

Hallo
hai

In [59]:
tagline = "Ayo belajar Python"
print(tagline)
print(tagline.replace("Python", "Cobra"))

Ayo belajar Python
Ayo belajar Cobra